*.class
.factorypath
.classpath
.project
.settings
target

bin

# work directory of qpid
work


# Package Files #
*.jar
*.war
*.ear

#Idea files
.idea/
*.iml
*.log

# Metals
.metals

# Vimspector
.vimspector.json


pom.xml.releaseBackup
pom.xml.versionsBackup
release.properties
dependency-reduced-pom.xml

deptree.txt
output.txt
felix-cache

*.swp
*~

work
.vim

node
node_modules
node_modules_bak

tsconfig.json
types.d.ts
package-lock.json
package.json
webpack.config.js

